<div class="row header-row">
    <div class="col-xs-12">
        <div class="pull-right">
                <div how-to-link ></div>
                <div admin ></div>
                <div signout ></div>
        </div>
    </div>
</div>