@import './../../styles/_palette.scss';

.admin-page {
  background-color: $color3-200;
  .header-link{
    color: $color1;
  }

  //.sidebar-container{
  //  color: $color1;
  //}
}

.user-row {
  margin-bottom: 1em;
}

.alert-modal {
  top: 0;
  left: 0;
  position: absolute;
  background: lightgray;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: none;
  overflow: auto;
  z-index: 10;
}

.alert-modal-container {
  background: white;
  color: black;
  width: 80%;
  overflow: auto;
  padding: 1em;
  border-radius: 5px;
}

@media (max-width: 992px) {
  .admin-page {
    .sidebar-container{
      color: $color1;
      cursor: pointer;
    }
  }
}
