<div header></div>
<div flash-alert="adminCtrl.alert"></div>
<div class="row">
    <div class="col-xs-12">
        <h3>
            <span class="label label-info">Quality Committee Meeting Occurrence:</span>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-offset-1 col-xs-11">
        <div class="row"
             admin-team-meeting="adminCtrl" team-name="adminCtrl.defaultTeam"></div>
        <div class="row"
             ng-repeat="team in adminCtrl.teamNames"
             admin-team-meeting="adminCtrl" team-name="team">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>
            <span class="label label-info">Team List Options:</span>
        </h3>
    </div>
    <div class="col-xs-offset-1 col-xs-11" loading="adminCtrl.createUserLoading">
        <div class="row">
            <form name="team">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label for="team">Add Team Name</label>
                        <input type="text" class="form-control" placeholder="Team Name" id="team"
                               ng-model="adminCtrl.model.newTeam" required>
                        <button class="btn btn-warning pull-right"
                                ng-disabled="team.$invalid || team.$pristine"
                                ng-click="adminCtrl.addTeam()">Add New Team Name
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <strong>Existing Team Names</strong>
                    <div class="row" ng-repeat="name in adminCtrl.teamNames">
                        <div class="col-xs-8">{{name.name}}</div>
                        <div class="col-xs-2">
                            <i class="fa fa-trash pointer" aria-hidden="true" ng-click="adminCtrl.deleteTeam(name)"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>
            <span class="label label-info">Create a New User:</span>
        </h3>
    </div>
    <div class="col-xs-offset-1 col-xs-11">
        <div class="row">
            <form name="createUser" loading="adminCtrl.createUserLoading">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" id="firstname"
                               ng-model="adminCtrl.model.newUser.firstName" required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" id="lastname"
                               ng-model="adminCtrl.model.newUser.lastName" required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Email" id="email"
                               ng-model="adminCtrl.model.newUser.email" required>
                    </div>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-warning pull-right"
                            ng-disabled="createUser.$invalid || createUser.$pristine"
                            ng-click="adminCtrl.addEmail()">Update
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>
            <span class="label label-info">User Management:</span>
        </h3>
    </div>
    <div class="col-xs-offset-1 col-xs-11" loading="adminCtrl.createUserLoading">
        <div class="row user-row" ng-repeat="user in adminCtrl.userList">
            <div class="col-xs-6 col-md-2"><span>{{user.first}}{{user.last}}</span></div>
            <div class="col-xs-6 col-md-2"><span>{{user.role.name}}</span></div>
            <div class="col-xs-6 col-md-2"><span>{{user.role.roleValue}}</span></div>
            <div class="col-xs-6 col-md-2">
                <span ng-repeat="team in user.teams track by $index">{{team.name}} </span>
            </div>
            <div class="col-xs-6 col-md-4"><span>{{user.email}}</span></div>
            <div class="col-xs-12">
                <div class="pull-right">
                    <button class="btn btn-xs btn-success" ng-click="adminCtrl.resetPassword(user)">reset password
                    </button>
                    <button class="btn btn-xs btn-warning" ng-click="adminCtrl.updateUser(user)">update</button>
                    <button class="btn btn-xs btn-danger" ng-click="adminCtrl.deleteUser(user)">delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="adminCtrl.deleteAlert" class="alert-modal">
    <div class="alert-modal-container">
        <h2>Are You Sure? This action cannot be undone.</h2>
        <h5>Delete this User</h5>
        <div class="form-group">
            <div><span>{{adminCtrl.userToDelete.first}}</span></div>
            <div><span>{{adminCtrl.userToDelete.last}}</span></div>
            <div><span>{{adminCtrl.userToDelete.email}}</span></div>
        </div>
        <button class="btn btn-default" ng-click="adminCtrl.dontDelete()">No, get me out of here</button>
        <button class="btn btn-danger" ng-click="adminCtrl.deleteIt()">Delete this User</button>
    </div>
</div>

<div ng-show="adminCtrl.updateAlert" class="alert-modal">
    <div class="alert-modal-container">
        <h2>Update This User</h2>
        <div class="form-group" ng-if="adminCtrl.userToUpdate">
            <h5>First Name</h5>
            <input class="form-control" type="text" ng-model="adminCtrl.userToUpdate.first" required>
            <h5>Last Name</h5>
            <input class="form-control" type="text" ng-model="adminCtrl.userToUpdate.last" required>
            <h5>Email Address</h5>
            <input class="form-control" type="text" ng-model="adminCtrl.userToUpdate.email" disabled>
            <h5>User Role</h5>
            <select class="form-control"
                    ng-model="adminCtrl.userToUpdate.role"
                    ng-options="item as item.name for item in adminCtrl.roleArr track by item.name"
                    required>
                <option value="">-- Select A Role --</option>
            </select>
        </div>
        <h5>Teams</h5>
        <div class="row">
            <div class="col-xs-6 col-md-3"
                 ng-repeat="name in adminCtrl.teamNames">
                <input id="team-{{$index}}"
                       type="checkbox"
                       ng-model="adminCtrl.userToUpdate.teams[name.name]"
                       ng-true-value="{{name}}"
                       ng-false-value="false"> {{name.name}}
            </div>
        </div>
        <h4>Confirm Changes</h4>
        <button class="btn btn-default"
                ng-click="adminCtrl.dontDelete()">
            No, get me out of here
        </button>
        <button class="btn btn-warning"
                ng-if="adminCtrl.userToUpdate"
                ng-click="adminCtrl.updateThisUser()">
            Update this User
        </button>
    </div>
</div>
</div>