<div class="row">
    <div class="col-xs-6">
        <span>{{teamMtgCtrl.team.label || teamMtgCtrl.team.name}}</span>
    </div>
    <div class="col-xs-6">
        <input type="checkbox"
               ng-change="teamMtgCtrl.meetingEditUpdate('use', teamMtgCtrl.team.name)"
               ng-model="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].useThisMeeting"><span> Use This Meeting</span>
    </div>
    <div class="col-xs-12" ng-show="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].useThisMeeting">
        <button class="btn btn-xs pull-right btn-warning"
                ng-click="teamMtgCtrl.meetingEditUpdate('update')"
                ng-show="teamMtgCtrl.meetingEditUpdateType === 'edit'">Edit Details
        </button>
        <button class="btn btn-xs pull-right btn-danger"
                ng-click="teamMtgCtrl.meetingEditUpdate('edit')"
                ng-show="teamMtgCtrl.meetingEditUpdateType === 'update'">cancel
        </button>
        <button class="btn btn-xs pull-right btn-warning"
                ng-click="teamMtgCtrl.meetingEditUpdate('edit', teamMtgCtrl.team.name)"
                ng-show="teamMtgCtrl.meetingEditUpdateType === 'update'">Update Details
        </button>
    </div>
    <div class="col-xs-6" ng-show="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].useThisMeeting">
        <dl>
            <dt>
                <span>Week Of Month:</span>
            </dt>
            <dd ng-show="teamMtgCtrl.meetingEditUpdateType === 'edit'">
                <span>{{teamMtgCtrl.methods.model[teamMtgCtrl.team.name].weekOfMonth}}</span>
            </dd>
            <dd ng-show="teamMtgCtrl.meetingEditUpdateType === 'update'">
                <select class="form-control"
                        ng-model="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].weekOfMonth" required>
                    <option value="">Select Week of Month</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </dd>
        </dl>
    </div>
    <div class="col-xs-6" ng-show="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].useThisMeeting">
        <dl>
            <dt>
                <span>Day Of Week:</span>
            </dt>
            <dd ng-show="teamMtgCtrl.meetingEditUpdateType === 'edit'">
                <span>{{teamMtgCtrl.methods.model[teamMtgCtrl.team.name].dayOfWeek}}</span>
            </dd>
            <dd ng-show="teamMtgCtrl.meetingEditUpdateType === 'update'">
                <select class="form-control" ng-model="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].dayOfWeek" required>
                    <option value="">Select Day of Week</option>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                </select>
            </dd>
        </dl>
    </div>
    <div class="col-xs-6" ng-show="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].useThisMeeting">
        <dl>
            <dt>
                <span>Meeting Reminder (days)</span>
            </dt>
            <dd ng-show="teamMtgCtrl.meetingEditUpdateType === 'edit'">
                <span>{{teamMtgCtrl.methods.model[teamMtgCtrl.team.name].meetingReminder}}</span>
            </dd>
            <dd ng-show="teamMtgCtrl.meetingEditUpdateType === 'update'">
                <input class="form-control" type='number'
                       ng-model="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].meetingReminder"
                       ng-disabled="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].doNotSend">
            </dd>
            <dt ng-show="teamMtgCtrl.meetingEditUpdateType === 'update'">
                <span>Do Not Send Reminders </span>
                <input type="checkbox"
                       ng-model="teamMtgCtrl.methods.model[teamMtgCtrl.team.name].doNotSend">
            </dt>
        </dl>
    </div>
</div>