.spinner-container{
    overflow: auto;
    position: relative;
}

.spinner {
    margin: auto 0;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: lightgray;
    opacity: .6;
}

.spinner > .ball {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    top: calc(50% - 13px);
    transform: translateY(-50%);
    z-index: 1001;
    width: 26px;
    height: 26px;
    background-color: #607d8b;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.spinner .bounce3 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.spinner .bounce4 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}