<div class="how-to-container">
    <div header></div>

    <div class="row">
        <div class="col-xs-12">
            <h1>How To</h1>
        </div>
        <div class="col-xs-12">
            <h4>1. Create PDSAs <a href="/quality/pdsa/create">here</a></h4>
        </div>
        <div class="col-xs-12">
            <h4>2. See your PDSAs populate the Agenda <a href="/quality/pdsa/agenda">here</a></h4>
        </div>
        <div class="col-xs-12">
            <h4>3. Have your Quality App administrator set your meeting date</h4>
            <h3>Wah-lah!</h3>
            <h4>Quality App will remind users about their Quality Meeting tasks before the task due date with email and in app alerts.</h4>
        </div>
    </div>
</div>
