@import './../../styles/_palette.scss';

.how-to-page {
  background-color: $color3-200;
  .header-link {
    color: $color1;
  }
}

.how-to-container {
  color: $color1;
  .header-link {
    color: $color1;
  }
}

@media (max-width: 992px) {
  .how-to-page {
    .sidebar-container {
      color: $color1;
      cursor: pointer;
    }
  }
}