.flash-alert-container{
    left: 0;
    top: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2em;

}

.flash-alert-container span {
    z-index: 100;
    background-color: dodgerblue;
    color: white;
}