<div class="sidebar-container-child" ng-class="{'sidebar-container-absolute': sideCtrl.showSidebarClass}">
    <div class="sidebar-menu-icon">
        <div class="sidebar-menu-cell">
            <i class="fa fa-bars" aria-hidden="true"
               ng-click="sideCtrl.showSidebar()"></i>
        </div>
        <div class="sidebar-menu-cell">
            <i class="fa fa-close" aria-hidden="true"
               ng-click="sideCtrl.showSidebar()"
               ng-show="sideCtrl.showSidebarClass"></i>
        </div>
    </div>
    <div class='row sidebar-menu-items'
         ng-class="{'sidebar-menu-show': sideCtrl.showSidebarClass}">
        <div class="col-xs-12 sidebar-heading-container">
            <span>CHCSEK</span>
        </div>
        <div class="col-xs-12" ng-repeat="sideItem in sideCtrl.sideItems">
            <div class="sidebar-unit"
                 ng-class="{'active-path' : activePath === sideItem.path}"
                 ng-click="sideCtrl.changePages(sideItem.path)">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span>{{sideItem.label}}</span>
            </div>
            <div ng-if="sideItem.subMenu" ng-repeat="subItem in sideItem.subMenu">
                <div class="sidebar-unit-sub-unit"
                     ng-class="{'active-path' : activePath.indexOf(subItem.path) > -1}"
                     ng-click="sideCtrl.changePages(subItem.path)">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span>{{subItem.label}}</span>
                </div>
            </div>
        </div>
    </div>
</div>