@import './../../styles/_palette.scss';

.active-path {
  color: $color4;
  font-weight: 700;
  text-decoration: underline;
}

.sidebar-container {
  position: relative;
  height: 100%;
  background-color: $color1;
  color: $color3;
}

.sidebar-menu-icon {
  font-size: 2em;
  margin: .2em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.sidebar-menu-cell {
  width: 50%;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.sidebar-menu-cell:last-child > i{
  float: right;
  clear: both;
}

.sidebar-menu-icon > .fa-close {
  margin-right: 1em;
}

.sidebar-heading-container {
  font-size: 2em;
  color: $color4-200;
}

.sidebar-unit {
  font-size: 1.6em;
  cursor: pointer;
}

.sidebar-unit-sub-unit {
  font-size: 1.4em;
  cursor: pointer;
  padding-left: .5em;
}

@media (max-width: 992px) {
  .sidebar-container {
    z-index: 9999;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    height: 1em;
  }

  .sidebar-menu-items {
    display: none;
  }

  .sidebar-container-absolute {
    position: absolute;
    padding-left: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: $color1-100;
    color: $color3 !important;
  }
}

@media (min-width: 993px) {
  .sidebar-menu-icon {
    display: none;
  }

  .sidebar-menu-items {
    display: block;
  }
}
