@import './styles/palette';

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: $color1;
    overflow-x: hidden;
}

.view-container{
    height: 100%;
    overflow: hidden;
}

.btn-white-border{
    border: white 2px solid;
}

.btn-update{
    background-color: $color5-100;
    color: $color3-100;
}

.btn-delete{
    background-color: $color2;
    color: $color3-100;
}

.btn-add{
    background-color: $color4-100;
    color: $color1;
}

.pointer {
    cursor: pointer;
}
