<div class="agenda-section agenda-heading">
    <div class="agenda-heading-cell-two">
        <div class="agenda-title-heading">Quality Meeting Agenda</div>
        <div class="agenda-subtitle-heading">
            <small ng-if="agendaCtrl.nextMeetingStr">for</small>
            {{agendaCtrl.nextMeetingStr}}
        </div>
    </div>
    <div class="agenda-heading-cell-one">
        See Historic Agenda:
        <div historic-picker></div>
    </div>
    <div class="agenda-heading-cell-one">
        <button class="btn btn-add btn-lg pull-right no-print" ng-click="agendaCtrl.print()">
            <i class="fa fa-print" aria-hidden="true"></i> Print
        </button>
    </div>
</div>
<div class="agenda-section agenda-sub-section agenda-pdsa-table">
    <div class="agenda-sub-section-title"><span>PDSA Items</span></div>
    <div class="agenda-table-scroll">
        <div class='agenda-body-container'>
            <div class='agenda-body-row agenda-body-row-header'>
                <div>Type</div>
                <div>Team</div>
                <div>Owner</div>
                <div>Frequency</div>
                <div>Aim</div>
                <div>Prediction</div>
                <div>Study</div>
                <div>Act</div>
            </div>
            <div class='agenda-body-row' ng-repeat="row in agendaCtrl.list | orderBy: ['type.key', 'aim']">
                <div>
                    <span ng-class="row.type.imageClass"
                          title="{{row.type.value}}"
                          class="pdsa-type-icon"
                          aria-hidden="true"></span></div>
                <div>{{(row.team.name) || '&nbsp;'}}</div>
                <div>{{(row.owner.label) || '&nbsp;'}}</div>
                <div>{{(row.frequency.value) || '&nbsp;'}}</div>
                <div>{{(row.aim) || '&nbsp;'}}</div>
                <div>{{(row.prediction) || '&nbsp;'}}</div>
                <div>{{(row.study) || '&nbsp;'}}</div>
                <div>{{(row.act) || '&nbsp;'}}</div>
            </div>
        </div>
    </div>
</div>
<div class="agenda-section agenda-sub-section">
    <div class="agenda-sub-section-title"><span>Add-on Topics</span></div>
    <div class=" agenda-table-scroll">
        <div class="agenda-topic-table">
            <div class="agenda-topic-row agenda-topic-heading">
                <div class="agenda-topic-row_col-1">Short Description</div>
                <div class="agenda-topic-row_col-2">Details / Notes</div>
                <div class="agenda-topic-row_col-1"></div>
            </div>
            <div ng-repeat="topic in agendaCtrl.agendaTopicList" class="agenda-topic-row">
                <div class="agenda-topic-row_col-1">{{topic.shortDesc}}</div>
                <div class="agenda-topic-row_col-2">{{topic.longDesc}}</div>
                <div class="agenda-topic-row_col-1 no-print">
                    <div class="agenda-topic-row_btn-group">
                        <div class="agenda-topic-row_btn btn-update center-align-content"
                             ng-click="agendaCtrl.updateDeleteAgendaTopic('Update', topic)">
                            <span>Update</span>
                        </div>
                        <div class="agenda-topic-row_btn btn-delete center-align-content"
                             ng-click="agendaCtrl.updateDeleteAgendaTopic('Delete', topic)">
                            <span>Delete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="agenda-section agenda-sub-section">
    <form name="agendaAddTopics"
          class=" no-print agenda-topic-form-animation"
          ng-class="agendaCtrl.borderClass">
        <div class="agenda-new-topic-row agenda-new-topic-title">{{agendaCtrl.topicFormTitleText}}</div>
        <div class="agenda-new-topic-row convert-to-columns">
            <div class="agenda-topic-row_col-1">
                <input type="text"
                       name="short"
                       class="form-control"
                       ng-model="agendaCtrl.newTopicModel.shortDesc"
                       placeholder="Short Description">
            </div>
            <div class="agenda-topic-row_col-2">
                <input type="text"
                       name="long"
                       class="form-control"
                       ng-model="agendaCtrl.newTopicModel.longDesc"
                       placeholder="Details">
            </div>
            <div class="agenda-topic-row_col-1">
                <button class="btn btn-update"
                        ng-disabled="!(!!agendaCtrl.newTopicModel.shortDesc || !!agendaCtrl.newTopicModel.longDesc)"
                        ng-click="agendaCtrl.addNewAgendaTopic()"
                        ng-show="!agendaCtrl.toggleAddTopicButton">Add Topic
                </button>
                <button class="btn btn-white-border"
                        ng-class="agendaCtrl.toggleAddTopicButton === 'Update' ? 'btn-update': 'btn-delete'"
                        ng-disabled="!(!!agendaCtrl.newTopicModel.shortDesc || !!agendaCtrl.newTopicModel.longDesc)"
                        ng-click="agendaCtrl.doTheUpdateDelete()"
                        ng-show="agendaCtrl.toggleAddTopicButton">{{agendaCtrl.toggleAddTopicButton}}
                </button>
                <button class="btn btn-default"
                        ng-click="agendaCtrl.cancelUpdate()"
                        ng-show="agendaCtrl.toggleAddTopicButton">Cancel
                </button>
            </div>
        </div>
    </form>
</div>
