@import '../../../styles/palette';

@media print {
  @page {
    margin: 0.25in;
    size: landscape;
  }

  .no-print, .no-print * {
    display: none !important;
  }

  .agenda-body-container {
    font-size: 8px !important;
  }

  div.agenda-body-row > div:nth-child(1) {
    width: .5in;
    min-width: .5in;
  }

  div.agenda-body-row > div:nth-child(2) {
    width: 0.75in;
    min-width: .75in;
  }

  div.agenda-body-row > div:nth-child(3) {
    width: 0.75in;
    min-width: .75in;
  }

  div.agenda-body-row > div:nth-child(n + 4) {
    width: calc(8in / 6) !important;
    min-width: calc(8in / 6) !important;
  }

  div.agenda-body-row {
    display: block;
  }

  .agenda-body-row-existing > span {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .agenda-sub-section {
    margin-left: 0px !important;
  }

  .view-container {
    width: 10.5in !important;
    left: 0px;
  }

  .agenda-sub-section-title {
    font-size: 1em !important;
    font-weight: normal !important;
    margin-bottom: 0em !important;
  }
}

div[pdsa-agenda] {
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: 100px;
}

.agenda-heading {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.agenda-heading-cell-one{
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.agenda-heading-cell-two{
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
}

.agenda-section {
  margin-bottom: 2em;
}

.agenda-sub-section {
  margin-left: 2em;
  width: calc(100% - 2em);
}

.agenda-sub-section-title {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;

  span {
    color: white;
    background: #5587a5;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.agenda-subtitle-heading {
  padding-left: 2em;
}

.agenda-title-heading {
  font-size: 1.5em;
  //min-width: 700px;
  text-decoration: underline;
  font-weight: 500;
}

.agenda-add-topics {
  min-width: 700px;
}

.agenda-body-row-header {
  font-weight: bold;
  font-size: 1em;
}

.agenda-table-scroll {
  width: 100%;
  overflow-x: auto;
}

.agenda-body-container {
  display: table;
  min-width: 700px;
  width: 100%;
}

.agenda-topic-table {
  min-width: 700px;
  width: 100%;
}

.agenda-body-row-spacer {
  height: 1em;
  border-bottom: #ddd 1px solid;
  margin-bottom: 1em;
}

.agenda-body-row {
  display: table-row;
  width: 100%;
  clear: both;
  margin-top: 1em;
}

.agenda-body-row:nth-child(even) {
  background-color: #ececec;
}

.agenda-body-row > div {
  float: left; /* fix for  buggy browsers */
  display: table-column;
  min-height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.agenda-body-row > div:nth-child(1) {
  width: 4em;
  min-width: 4em;
  text-align: center;
}

div.agenda-body-row > div:nth-child(2) {
  width: 10em;
  min-width: 10em;
}

div.agenda-body-row > div:nth-child(n + 3) {
  width: calc((100% - 14em) / 6);
  min-width: calc((100% - 15em) / 6);
}

.agenda-topic-heading {
  font-weight: bold;
  font-size: 1em;
}

.agenda-topic-row {
  padding-left: 2px;
  margin-top: .5em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.agenda-topic-row_btn-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.agenda-topic-row_btn {
  flex: 1 0 0;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

.agenda-topic-row > div {
  padding-bottom: .2em;
  padding-top: .2em;
}

.agenda-topic-row:nth-child(even) {
  background-color: #ececec;
}

.agenda-topic-row_col-1 {
  padding-left: 5px;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.agenda-topic-row_col-2 {
  padding-left: 5px;
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
}

.agenda-new-topic-row {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.agenda-new-topic-title {
  font-size: 1.5em;
  font-weight: 500;
  padding-left: 7px;
}

.agenda-topic-form-regular-animation > .agenda-new-topic-title {
  color: black;
}

.agenda-topic-form-update-animation > .agenda-new-topic-title {
  color: white;
}

.agenda-topic-form-delete-animation > .agenda-new-topic-title {
  color: white;
}

.agenda-topic-form-animation {
  margin-top: 1em;
  -webkit-transition: background-color 2s linear, border 1000ms ease-in;
  -moz-transition: background-color 2s linear, border 1000ms ease-in;
  -o-transition: background-color 2s linear, border 1000ms ease-in;
  transition: background-color 2s linear, border 1000ms ease-in;
}

@-webkit-keyframes agenda-topic-form-regular-animation {
  0% {
    background-color: #ececec;
    opacity: 1;
  }
  20% {
    background-color: #ececec;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: #ececec;
  }
}

.agenda-topic-form-regular-animation {
  -webkit-animation-name: agenda-topic-form-regular-animation;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  border: 4px solid #ececec;
}

@-webkit-keyframes agenda-topic-form-update-animation {
  0% {
    background-color: $color5;
    opacity: 1;
  }
  20% {
    background-color: $color5;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: $color5;
  }
}

.agenda-topic-form-update-animation {
  -webkit-animation-name: agenda-topic-form-update-animation;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  border: 4px solid $color5;
  background-color: $color5;
}

@-webkit-keyframes agenda-topic-form-delete-animation {
  0% {
    background-color: $color2-200;
    opacity: 1;
  }
  20% {
    background-color: $color2-200;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: $color2-200;
  }
}

.agenda-topic-form-delete-animation {
  -webkit-animation-name: agenda-topic-form-delete-animation;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  border: 4px solid $color2-200;
  background-color: $color2-200;
}

.center-align-content {
  text-align: center;
}

.agenda-filter-section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.agenda-filter-cell {
  -webkit-flex: .5 0 0;
  flex: .5 0 0;
  padding: .5em;
}

@media screen and (max-width: 700px) {
  .agenda-new-topic-row.convert-to-columns {
    flex-direction: column;
  }

  .agenda-filter-section{
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .agenda-filter-cell {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }
}

@media (max-width: 992px) {
  .pdsa-page {
    .sidebar-container{
      cursor: pointer;
    }
  }
}