.quality-breadcrumb-item {
    cursor: pointer;
    color: #607d8b;
    margin-right: 1em;
    padding: .2em;
    border-radius: 2px;
}

.quality-breadcrumb-item:hover {
    background-color: #607d8b;
    color: white;
    margin-right: 1em;
    padding: .2em;
    border-radius: 2px;
}