<div class="breadcrumb-row">
    <span ng-repeat="crumb in crumbCtrl.locationArr" ng-click="crumbCtrl.changeLocations($index)"
          class="quality-breadcrumb-item">{{crumb}} <i ng-if="!$last" class="fa fa-angle-right" aria-hidden="true"></i></span>
</div>
