<div header></div>
<div class="row">
    <div class="col-xs-12 report-page-title">
        <h1>Quality</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <h3 class="reporting-tile">
            Plan Do Study Act (PDSA)

        </h3>
        <div class="row" ng-if="reportCtrl.teams.length">
            <div class="col-xs-12 col-md-6 team-links" ng-repeat="team in reportCtrl.teams">
                <a href="/quality/pdsa/{{team}}/agenda">{{team}}</a>
            </div>
        </div>

    </div>
</div>