@import './../../styles/_palette.scss';

.reports-page {
  background-color: $color3-200;
  .header-link {
    color: $color1;
  }
}

.report-page-title {
  color: $color1;
}

.reporting-tile {
  text-align: center;
  background-color: $color2-200;
  border-radius: 5px;
  padding-top: .2em;
  padding-bottom: .2em;
  //cursor: pointer;
  color: $color2-100;
}

.team-links{
  cursor: pointer;
}

@media (max-width: 992px) {
  .reports-page {
    .sidebar-container{
      color: $color1;
      cursor: pointer;
    }
  }
}
