@import './../../styles/palette';

.home-page {
  background-color: $color3-200;
  .header-link {
    color: $color1;
  }
}

.task-group > h3 {
  color: $color2;
}

.home-page-container {
  color: $color1;
}

.home-page-container h1 small {
  color: $color5-100;
}

.home-page-link-to-pdsa {
  cursor: pointer;
}

@media (max-width: 992px) {
  .home-page {
    .sidebar-container {
      color: $color1;
      cursor: pointer;
    }
  }
}