<div header></div>
<div class="home-page-container">
    <h1>Task Due Dates <small>(Active PDSAs Only)</small></h1>
    <div ng-repeat="(key, value) in homeCtrl.taskGrouping" class="task-group">
        <h3>{{homeCtrl.taskGroupingTitles[key]}}</h3>
        <div class='home-page-link-to-pdsa' ng-repeat="task in value" ng-click="homeCtrl.viewThisTask(task)">
            {{task.task}} - <strong>Due</strong> {{task.jsDate | date:'longDate'}} <label>{{task.team}}</label>
        </div>
    </div>
</div>
