@import './../../styles/palette';

.pdsa-view {
  height: 100%;
  margin-top: 20px;
}

.pdsa-view-container {
  -webkit-box-shadow: inset 5px 5px 12px -6px;
  box-shadow: inset 7px 7px 12px -6px;
  padding-top: 1em;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $color3-200;
  padding-bottom: 100px;
}

.pdsa-menu-item > a {
  //background-color: $color1 !important;
  color: $color3 !important;
}

.pdsa-menu-item > a:hover {
  border-color: $color3 !important;
}

.pdsa-menu-item.active > a {
  background-color: $color1-200 !important;
  color: $color1 !important;
}

.pdsa-update-modal {
  top: 0;
  left: 0;
  position: absolute;
  background: lightgray;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: none;
  overflow: auto;
  z-index: 10;
}

.pdsa-update-modal-container {
  background: white;
  color: black;
  width: 95%;
  height: 90%;
  overflow: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
}

.pdsa-update-modal > .fa-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}

.pdsa-alert-modal {
  top: 0;
  left: 0;
  position: absolute;
  background: lightgray;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: none;
  overflow: auto;
  z-index: 10;
}

.pdsa-alert-modal-container {
  background: white;
  color: black;
  width: 80%;
  overflow: auto;
  padding: 1em;
  border-radius: 5px;
}

.pdsa-table {
  font-size: .8em;
}

.pdsa-task-table-col-1 {
  min-width: 300px;
}

.pdsa-table-clickable-row {
  font-size: .8em;
  cursor: pointer;
}

.input-button {
  margin-top: 1em;
}

.pdsa-type-icon {
  font-size: 2em;
  text-align: center;
}

.pdas-table-row-deactive > td {
  background-color: lightgrey;
  color: #7b7b7b;
}

.label-container {
  margin-top: 1em;
}

.label-info-blue {
  background-color: $color5-100;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  font-size: 1.5em;
}