<i class="fa fa-close" ng-click="pdsaUpdateCtrl.hideModal()"></i>
<div class="pdsa-update-modal-container">
    <div class="col-xs-12">
        <div pdsa-form="pdsaUpdateCtrl.pdsaToUpdate"></div>
    </div>
</div>