<form name="pdsaForm">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="label-container"><span class="label-info-blue">Status:</span></div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           ng-change="pdsaFormCtrl.recordDeactiveTimeStamp()"
                           ng-model="pdsaFormCtrl.model.deactive"> Mark As Completed
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="label-container"><span class="label-info-blue">Accomplishment:</span></div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           ng-change="pdsaFormCtrl.recordAccomplishmentTimeStamp()"
                           ng-model="pdsaFormCtrl.model.accomplishment"> Mark As Accomplishment
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="label-container"><span class="label-info-blue">PDSA Owner:</span></div>
            <select class="form-control"
                    ng-options="obj.label for obj in pdsaFormCtrl.partyList track by obj.value"
                    ng-model="pdsaFormCtrl.model.owner"
                    ng-disabled="pdsaFormCtrl.model.deactive"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="label-container"><span class="label-info-blue">PDSA Team:</span></div>
            <select class="form-control"
                    ng-model="pdsaFormCtrl.model.team"
                    ng-disabled="pdsaFormCtrl.model.deactive"
                    ng-options="item as item.name for item in pdsaFormCtrl.teamNameSelectOptions track by item.name"
                    required>
            </select>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="label-container"><span class="label-info-blue">PDSA Type:</span></div>
            <select class="form-control"
                    ng-model="pdsaFormCtrl.model.type"
                    ng-disabled="pdsaFormCtrl.model.deactive"
                    ng-options="item as item.value for item in pdsaFormCtrl.formTypeSelectOptions track by item.key">
                <option value="">-- choose type --</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="label-container"><span class="label-info-blue">Frequency:</span></div>
            <select class="form-control"
                    ng-model="pdsaFormCtrl.model.frequency"
                    ng-disabled="pdsaFormCtrl.model.deactive"
                    ng-options="item as item.value for item in pdsaFormCtrl.frequencySelectOptions track by item.key">
                <option value="">-- choose frequency --</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="label-container"><span class="label-info-blue">Aim:</span></div>
            <textarea type="text" class="form-control" id="aim"
                      ng-model="pdsaFormCtrl.model.aim"
                      ng-disabled="pdsaFormCtrl.model.deactive"
                      placeholder="To decrease the number of no show provider encounters."></textarea>
        </div>
        <div class="col-xs-12">
            <div class="label-container"><span class="label-info-blue">Plan:</span></div>
            <button class="btn btn-add btn-xs " ng-click="pdsaFormCtrl.addRow()"><i class="fa fa-plus"
                                                                                    aria-hidden="true"></i> add plan row
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="pdsa-task-table-col-1">Task</th>
                        <th>Responsible Party</th>
                        <th>Location</th>
                        <th>Due Date</th>
                        <th>Complete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in pdsaFormCtrl.model.planOne">
                        <td>
                            <input class="form-control"
                                   ng-model="row.task"
                                   ng-disabled="pdsaFormCtrl.model.deactive || row.taskComplete">
                        </td>
                        <td>
                            <select class="form-control"
                                    ng-options="obj.label for obj in pdsaFormCtrl.partyList track by obj.value"
                                    ng-model="row.party"
                                    ng-disabled="pdsaFormCtrl.model.deactive || row.taskComplete"
                            ></select>
                        </td>
                        <td>
                            <input class="form-control"
                                   type="text"
                                   ng-disabled="pdsaFormCtrl.model.deactive || row.taskComplete"
                                   ng-model="row.location">
                        </td>
                        <td>
                            <input class="form-control"
                                   type="date"
                                   list="thesedates"
                                   ng-disabled="pdsaFormCtrl.model.deactive || row.taskComplete"
                                   ng-model="row.date">
                            <datalist id="thesedates">
                                <option ng-repeat="opt in pdsaFormCtrl.futureMeetingDates"
                                        label="{{opt.label}}">{{opt.date}}
                                </option>
                            </datalist>
                        </td>
                        <td>
                            <input type="checkbox"
                                   ng-disabled="pdsaFormCtrl.model.deactive"
                                   ng-model="row.taskComplete">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Predict what will happen when the test is carried out
        </div>
        <div class="col-xs-12">
        <textarea class="form-control input-form-task"
                  ng-disabled="pdsaFormCtrl.model.deactive"
                  ng-model="pdsaFormCtrl.model.prediction">
        </textarea>
        </div>
        <div class="col-xs-12">
            Measures to determine if prediction succeeds
        </div>
        <div class="col-xs-12">
        <textarea class="form-control input-form-task"
                  value="{{pdsaFromCtrl.model.measure}}"
                  ng-disabled="pdsaFormCtrl.model.deactive"
                  ng-model="pdsaFormCtrl.model.measure">
        </textarea>
        </div>
        <div class="col-xs-12">
            <div class="label-container"><span class="label-info-blue">Do:</span></div>
            Describe what actually happened when you ran the test
        </div>
        <div class="col-xs-12">
        <textarea class="form-control input-form-task"
                  ng-disabled="pdsaFormCtrl.model.deactive"
                  ng-model="pdsaFormCtrl.model.outcome">
        </textarea>
        </div>
        <div class="col-xs-12">
            <div class="label-container"><span class="label-info-blue">Study:</span></div>
            Describe the measured results and how they compared to the
            predictions
        </div>
        <div class="col-xs-12">
        <textarea class="form-control input-form-task"
                  ng-disabled="pdsaFormCtrl.model.deactive"
                  ng-model="pdsaFormCtrl.model.study">
        </textarea>
        </div>
        <div class="col-xs-12">
            <div class="label-container"><span class="label-info-blue">Act:</span></div>
            Describe what modifications to the plan will be made for the
            next cycle from what you learned
        </div>
        <div class="col-xs-12">
        <textarea class="form-control input-form-task"
                  ng-disabled="pdsaFormCtrl.model.deactive"
                  ng-model="pdsaFormCtrl.model.act">
        </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success btn-lg pull-right input-button"
                    ng-click="pdsaFormCtrl.updateDatabase()"
                    ng-disabled="pdsaForm.$invalid">{{pdsaFormCtrl.updateButtonText}}
            </button>
        </div>
    </div>
</form>