<div header class="no-print"></div>
<div class="pdsa-view">
    <div class="row">
        <ul class="nav nav-tabs no-print">
            <li class="pdsa-menu-item"
                ng-class="pdsaCtrl.selectedPill === '0' ? 'active': ''">
                <a href="/quality/pdsa/{{pdsaCtrl.team}}/agenda">Agenda</a>
            </li>
            <li class="pdsa-menu-item"
                ng-class="pdsaCtrl.selectedPill === '1' ? 'active': ''">
                <a href="/quality/pdsa/{{pdsaCtrl.team}}/plan">Plan</a>
            </li>
            <li class="pdsa-menu-item"
                ng-class="pdsaCtrl.selectedPill === '2' ? 'active': ''">
                <a href="/quality/pdsa/{{pdsaCtrl.team}}/update">Update A PDSA</a>
            </li>
            <li class="pdsa-menu-item"
                ng-class="pdsaCtrl.selectedPill === '3' ? 'active': ''">
                <a href="/quality/pdsa/{{pdsaCtrl.team}}/create">Create A PDSA</a>
            </li>
        </ul>
        <div class="pdsa-view-container">
            <div ng-if="pdsaCtrl.selectedPill === '0'" pdsa-agenda></div>
            <div ng-if="pdsaCtrl.selectedPill === '2'" pdsa-list-view></div>
            <div ng-if="pdsaCtrl.selectedPill === '3'" pdsa-create-view></div>
            <div ng-if="showUpdateModal"
                 class="pdsa-update-modal"
                 pdsa-update="pdsaCtrl.pdsaToUpdate"></div>
        </div>
    </div>
</div>
