<div ng-show="listCtrl.deleteAlert" class="pdsa-alert-modal">
    <div class="pdsa-alert-modal-container">
        <h2>Are You Sure? This action cannot be undone.</h2>
        <button class="btn btn-default" ng-click="listCtrl.dontDelete()">No, get me out of here</button>
        <button class="btn btn-danger" ng-click="listCtrl.deleteIt()">Delete this PDSA</button>
    </div>
</div>
<div class="table-responsive pdsa-table">
    <table class="table">
        <thead>
        <th>Type</th>
        <th>Aim</th>
        <th>Frequency</th>
        <th>Task</th>
        <th>Predict</th>
        <th>Study</th>
        <th>Act</th>
        <th></th>
        </thead>
        <tr ng-repeat="item in listCtrl.data | orderBy: ['deactive', 'type.key', 'aim']"
            ng-click="listCtrl.openThisPdsa(item, item.id)"
            ng-class="{'pdas-table-row-deactive' : item.deactive}"
            class="pdsa-table-clickable-row">
            <td>
                <span ng-class="item.type.imageClass" class="pdsa-type-icon" aria-hidden="true" title="{{item.type.value}}"></span>
            </td>
            <td>
                {{item.aim}}
            </td>
            <td>
                {{item.frequency.value}}
            </td>
            <td>
                {{item.planOne[0].task}}
            </td>
            <td>
                {{item.prediction}}
            </td>
            <td>
                {{item.study}}
            </td>
            <td>
                {{item.act}}
            </td>
            <td>
                <button class="btn btn-danger btn-xs" ng-click="listCtrl.deleteThis($event, item, item.id)">Delete
                </button>
            </td>
        </tr>
    </table>
</div>

