.login-background {
    background-image: url('/../images/stardust.png');
    z-index: 9998;
}

.quality-btn {
    color: white;
    background-color: #607d8b;
    z-index: 9999;
}

.quality-btn:hover {
    color: #607d8b;
    background-color: white;
    z-index: 9999;
}

.quality-login {
    padding-top: 5em;
    color: #607d8b;
    z-index: 9999;
}

.quality-login-title{
    text-align: center;
    z-index: 9999;
}

.quality-login-title > h3 {
    margin-top: 5em;
    z-index: 9999;
}

.quality-login-row{
    margin-top: 1em;
    z-index: 9999;
}