<div class="row quality-login">
    <div class="quality-login-title">
        <h1>Welcome to Hemma Health Quality</h1>
        <h3>Please Sign In</h3>
        <div class="quality-login-row">
            <input class="mdl-textfield__input form-control" style="display:inline;width:auto;" type="text" id="email"
                   name="email"
                   placeholder="Email"/>
        </div>
        <div class="quality-login-row">
            <input class="mdl-textfield__input form-control"
                   style="display:inline;width:auto;"
                   type="password"
                   id="password"
                   name="password"
                   placeholder="Password"
                   ng-keyup="$event.keyCode == 13 && login.signIn()"/>
        </div>
        <div class="quality-login-row">
            <button ng-click="login.signIn()"
                    class="btn quality-btn">Sign In</button>
        </div>
    </div>

</div>
